* {
    box-sizing: border-box;
}

:root {
    --alpha: #fff;
    --beta: #c43d6c;
    --gamma: #3ec767;
    --delta: #000;
}

p {
    font-family: Liberation-serif;
    font-size: 16px;
}

h1 {
    font-family: Verdana;
    font-size: 30px;
}

h2 {
    font-family: Verdana;
    font-style: italic;
    font-size: 25px;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

html {
    background-color: var(--delta);
}

.Header {
    border-radius: 60px 5px;
    background: var(--alpha);
    padding-left: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 7px;
}

.left {
    background-color: var(--alpha);
    float: left;
    border-radius: 5px 60px;
    width: 60%;
}

.main {
    background-color: var(--alpha);
    float: left;
    border-radius: 5px 60px;
    width: 100%;
}

.right {
    background-color: var(--alpha);
    border-radius: 5px 60px;
    float: left;
    width: 40%;
}

.footer {
    background-color: var(--alpha);
    border-radius: 5px 60px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

@media screen and (max-width: 900px) {

    .right,
    .main,
    .left,
    .footer,
    .Header {
        width: 100%;
    }
}
